{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Message</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.titre }}</td>
                <td>{{ topic.message }}</td>
                <td>{{ topic.createdAt ? topic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ topic.updatedAt ? topic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    <a href="{{ path('topic_show', {'id': topic.id}) }}">show</a>
                    {% if (app.user and app.user.id == topic.user.id) or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>
                        <a href="{{ path('topic_edit', {'id': topic.id}) }}">delete</a>
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ dump(app.user) }}
    <div class="pagination text-center mx-auto">
        {{ knp_pagination_render(topics) }}
    </div>
{% endblock %}
